<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            box-sizing: border-box;
        }
        body{
        background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(209, 50, 50));
        }
        nav li {
            margin: 0;
            padding: 20px 10px;
            background-color: rgb(65, 65, 192);
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: black;
        }
        
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/admin">Admin login</a></li>
            </ul>
            
        </nav>
    </header>
    <hr>
    <p>
        <h1>You are cuurently viewing the solution of {{name}}</h1>
    <b>Student ID:</b> I4G001449FX5
    <br>
    <b>Username:</b> Carnage
    </p>
    
    
</body>
</html>